# Bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/

# Entornos virtuales
.venv/
venv/
env/

# Cache de herramientas
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Editores / SO
.DS_Store
*.swp
